@model IEnumerable<Entity.ListaMuebles>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Muebles</h2>
<p>
    @Html.ActionLink("Nueva entrada de lista", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodLista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreLista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodMueble.CodMueble)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoordX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoordY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rotacion)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodLista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreLista)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodMueble.CodMueble)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoordX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoordY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rotacion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { CLista = item.CodLista }) |
                @Html.ActionLink("Delete", "Delete", new { CLista = item.CodLista })
            </td>
        </tr>
    }

</table>





