@model IEnumerable<Entity.Usuario>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Nuevo Usuario", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contraseña)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FNacimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contraseña)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Foto)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { CUsuario = item.CodUsuario }) |
                @Html.ActionLink("Delete", "Delete", new { CUsuario = item.CodUsuario })
            </td>
        </tr>
    }

</table>