@model IEnumerable<Entity.Paquete>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Paquete</h2>
<p>
    @Html.ActionLink("Nuevo Paquete", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodPaquete)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodPlantilla)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodUsuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreLista)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodPaquete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodPlantilla)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreLista)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { CPaquete = item.CodPaquete }) |
                @Html.ActionLink("Delete", "Delete", new { CPaquete = item.CodPaquete })
            </td>
        </tr>
    }

</table>





